*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
header{
    width:100%;
    height:47px;
    background:#25292e;
    min-width:1000px;
    line-height: 56px;
    padding-top:9px;
}
#area{
    width:1000px;
    margin:0 auto;
}
#area .logo{
    width:95px;
    height:38px;
    background:url("images/1.png");
}
header #area a div:hover{
    opacity:0.8;
}
header ul{
    position:relative;
    float:right;
    margin-top:-8px;
    line-height:56px;
    height:56px;
}
header ul>li{
    margin-top:0;
    font-size:12px;
    float:left;
    color:#666;
    cursor:pointer;
    height:56px;
}
header ul>li>a{
    color:#666;
    padding:0 15px;
    border-left:1px solid #666;
}
.white{
    padding:0 10px 0 5px;
    color:#ccc;
    border:none;
}
header ul>li:hover a{
    color:#ccc;
}
header ul>li div{
    text-align:center;
    color:#ccc;
}
header ul>li>div{
    position:absolute;
    width:100%;
    height:70px;
    background:#292f34;
    margin:-1px 0 0 -90px;
    line-height:70px;
    display:none;
    z-index:5;
}
header ul>li>a>div{
    width:100%;
    height:50px;
    background:#7dbfde;
    position:absolute;
    margin:69px 0 0 -106px;
    line-height:50px;
    color:#fff;
    z-index:5;
}
.shopping:hover{
    background:#292f34;
}
.shopping:hover div{
    display:block;
}
.shopping:hover .k{
    display:block !important;
}
.news:hover{
    background:#292f34;
}
header ol li{
    width:150px;
    height:44px;
    background:#292f34;
    margin:-1px 0 0 -60px;
    padding:0 20px;
    line-height:44px;
    display:none;
    position:relative;
    z-index:5;
}
header ol li:hover{
    background:#2e353d;
}
.news:hover ol li{
    display:block;
}
header ol li p{
    border-top:1px solid #3f4449;
    position:relative;
    color:#ccc;
}
header ol li span{
    position:absolute;
    right:0;
    color:#ccc;
}
nav ul{
    height:49px;
}
nav ul>a>li{
    float:left;
    width:144px;
    border-bottom: #ededed solid 4px;
    line-height:46px;
    color:black;
    text-align:center;
}
nav ul>a:hover>li{
    border-bottom: black solid 4px;
}
.search{
    width:268px;
    height:45.5px;
    float:right;
    border-bottom: #ededed solid 4px;
    margin-right:-267px;
    position:relative;
}
.search>a>div{
    width:33px;
    height:40px;
    background:url("images/1.png")-167px -145px;
    float:right;
    margin-left:220px;
    line-height:40px;
    position:absolute;
    z-index:4;
    cursor:pointer;
}
.search input{
    margin-top:14px;
    border:none;
    width:200px;
    background:#fff;
    outline:none;
    position:relative;
    margin-left:10px;
}
/* js改right值 */
.search2{
    width:268px;
    height:45.5px;
    float:right;
    border-bottom: #ededed solid 4px;
    border-bottom: black solid 4px;
    overflow:hidden;
    position:relative;
    left:267px;
}
.hide{
    width:268px;
    height:45.5px;
    background:white;
    border-bottom: white solid 4px;
    position:relative;
    left:267px;
}
.journal,.share1,.n-store{
    position:absolute;
    width:100%;
    left:0;
    top:106px;
    border-bottom:1px solid rgb(233, 231, 231);
    display:none;
    background:white;
    z-index:9;
}
.journal li,.share1 li ,.n-store li{
    float:left;
    margin-right:60px;
    color: #666;
    font-size: 12px;
    line-height: 32px;
    margin-top:20px;
}
.journal a,.share1 a{
    color: #666;
}
.n-store{
    position:absolute;
    width:100%;
    margin-left:50%;
    left:-50%;
}
.n-first{
    width: 232px;
    height: 232px;
    margin-top:30px;
    float:right;
    margin-right:13px;
}
.n-store h6{
    margin:280px 0 0 810px;
    position:absolute;
    color: #4d4d4d;
    font-size: 14px;
    font-weight:400;
}
.n-store ol{
    overflow:hidden;
}
.n-store ol li{
    text-align:center;
    margin-top:50px;
    font-weight:800;
}
.n-store ol li img{
    width:40px;
    height:40px;
}
.n-store ol li p{
    margin-top:-20px;
    color: #4d4d4d;
}
.n-store>ol>p{
    position:relative;
    margin-top:400px;
    height:100px;
    color:#666;
}
.n-store p span{
    margin-left:20px;
}
footer{
    width:100%;
    height:200px;
    background: #fbfdfe;
    overflow:hidden;
    text-align:center;
}
footer p{
    color:black;
    margin-top:30px;
    position:relative;
}
footer p a{
    color:black;
    font-weight:500;
}
footer p i{
    display:block;
    width:27px;
    height:15px;
    left:350px;
    margin-top:5px;
    position:absolute;
    background: url("images/1.png")-173px -356px no-repeat;
}
footer ul{
    margin-top:50px;
}
footer ul li div{
    width:55px;
    height:60px;
}
footer ul li{
    width:250px;
    float:left;
    text-align:left;
}
footer ul li span{
    position:absolute;
    margin-top:-55px;
    margin-left:65px;
}
footer ul li span a{
    font-size:14px;
    color:#ccc;
}
.f-b{
    width:100%;
    height:223px;
    background:#25292e;
    overflow:hidden;
}
.f-b>div>div{
    cursor:pointer;
}
.f-b>div>div:hover{
    color:rgb(185, 185, 185);
}
.f-b>div>div:hover div{
    display:block;
}
.f-b>div>div{
    color: #5c5c5c;
    margin-top:30px;
    width:196px;
    height:44px;
    padding:0 0 0 60px;
    background:url("images/1.png") -175px 0 no-repeat;
}
.f-b>div>div>div{
    width:210px;
    height:150px;
    position:absolute;
    color:black;
    background:white;
    margin:-222px 0 0 -63px;
    font-size: 13px;
    display:none;
}
.ip{
    display:block;
    width:99px;
    height:108px;
    float:right;
    background:url("images/1.png")0 -48px no-repeat;
}
.ad{
    display:block;
    width:99px;
    height:108px;
    background:url("images/1.png")-100px -48px no-repeat;
}
.f-b>div>ul{
    float:right;
    width:133px;
    height:20px;
    margin-top:-30px;
}
.f-b>div>ul>li{
    width:25px;
    height:20px;
    float:left;
    margin-right:20px;
    cursor:pointer;
}
.wx{
    background:url("images/1.png")-100px 0 no-repeat;
}
.wx:hover{
    background:url("images/1.png")-100px -24px no-repeat;
}
.sh{
    background:url("images/1.png")-150px 0 no-repeat;
}
.sh:hover{
    background:url("images/1.png")-150px -24px no-repeat;
}
.do{
    width:21px !important;
    background:url("images/1.png")-129px 0 no-repeat;
}
.do:hover{
    width:21px !important;
    background:url("images/1.png")-129px -24px no-repeat;
}
.wx2{
    width:145px;
    height:145px;
    background:url("images/1.png")0px -148px no-repeat;
    position:absolute;
    margin-top:-189px;
    margin-left:-63px;
    display:none;
}
.wx:hover .wx2{
    display:block;
}
.f-b>div>ol{
    margin-top:20px;
}
.f-b>div>ol>li{
    float:left;
    border-right:1px solid #5c5c5c;
    padding-right:10px;
    padding-left:10px;
    line-height:14px;
    height:14px;
}
.f-b>div>ol>li>a{
    color:#5c5c5c;
    font-size: 14px;
}
.f-b>div>ol>li>a:hover{
    color:rgb(185, 185, 185);
}
.f-b>div>p{
    color:#5c5c5c;
    font-size: 14px;
}
aside .top{
    width:59px;
    height:59px;
    background:url("images/1.png")-20px -813px no-repeat;
    position:fixed;
    top:605px;
    right:25px;
    float:right;
    cursor:pointer;
}
aside .top:hover{
    opacity:0.2;
}
aside .service{
    width:90px;
    height:30px;
    background-color: #5b799a;
    top:700px;
    right:10px;
    float:right;
    border-radius:5px;
    text-align:center;
    line-height:30px;
    color:white;
    position:fixed;
}