<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="nav">
			<ul class="nav" id="nav">
			</ul>
		</div>
		 
<script type="text/javascript" src="js/jquery-3.2.1.js" ></script>
<script type="text/javascript" src="js/underscore-min.js" ></script>

<!-- 定义模板 -->
<script type="javascript/template" id="tp1">

<% for (var i = 0; i < data.length; i++) { %>

	<li style:"list-style: none">
		<a>
		
	
	<%=data[i].goods_name%>
	
	    </a>

	</li>
	<li>
		<a>
		
	
	<%=data[i].cat_name%>
	
	    </a>

	</li>
	<li>
		<a>
		
	
	<%=data[i].price%>
	
	    </a>

	</li>
	<li>
		<a>
		
	
	<%=data[i].is_hot%>
	
	    </a>

	</li>
	

	
	
<% }%>
</script>


<script>

// 分类数据
//*
// 请求url地址
var url = "http://h6.duchengjiu.top/shop/api_goods.php";

$.get(url, function(obj) {
	// 返回的结果 是 对象

	// 1. 取出模板字符串
	var ttt = $("#tp1").html();

	// 2. 编译
	//             {variable: 'data'} 说明模板里面的变量是 data
	//             (obj.data) 说明传递的是 obj.data 是数据
	var h = _.template(ttt, {variable: 'data'})(obj.data)

	// 3. 设置到 html中
	$("#nav").html(h);
})
//*/

</script>
	</body>
</html>
